body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#inventory {
    position: absolute;
    height: 200px;
    bottom: 50px;
    left: 40px;
    width: 80vw;
    border: 5px black solid;
}